*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .pic1 img{
        display: none;
        width:50%;

        
    
            }
    @media only screen and (min-width: 375px){
        .pic1 img{
        display: block;
        width:50%;
        
        
        }
    }
     
    h3{
        text-align: centre;
    }
    .menu-bar{
        background-color: rgba(0,0,0,0.6);
        text-align: center;
    }
    .menu-bar ul{
        display: inline-flex;
        list-style: none;
        color: azure;
    }
    .menu-bar ul li{
        width: 120px;
        margin: 15px;
        padding: 15px;
        font-size: 18px;
    }
    .menu-bar ul li a{
        font-size: 18px;
        color: white;
        text-decoration: none;
        float: right;

    }
    .menu-bar ul li :hover{
        color: orange;
        border-radius: 3px;
    }
    .menu-bar .fa{
        margin-right: 8px;
    }

    .menu-bar ul li:hover .sub-menu-1{
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.6);
        margin-top: 15px;
        margin-left: 15px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul{
        display: block;
        margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: orange;
}

a{
    font-size: 5px;
    width: 100%;
}
    
body {
    
      background: linear-gradient(to right, #9c27b0, #8ecdff);
      text-align: center;
      }
      


    .pic2 img{
        display:none;
        position: absolute;
        width: 50%;
        
          }
    @media only screen and (min-width: 375px){
        .pic2 img{
        display: block;
        width: 50%;
    
                }
             }
             .one img{
                 display: none;
                position:absolute;
                border-color: blue;
                width: 40%;
                height:85%;
                top:1%;
                right:-10.5%;
                  }
     @media only screen and (min-width: 900px){
        .one img{
        display:block
             }
        }
    html{
        min-width: 940px;
    }
 .content h2{
 font-family: Comic Sans MS;
     text-align: left;
     font-display: flex;
     color: black;
     }
 nav{
 width: 150%;
 position: sticky;
 margin: 0;
 z-index: 1;
 display: flex;
 align-items: centre;
      }
 .logo{
 flex-basis: 20%;
 width: 600px;
 float: left;
 
 }
 

 footer{
    background: rgba(0,0,0,0.6);
    padding: 140px 0 80px;
    color: #fff;
    margin-top: 60px
}
